<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing challenge</h1>
      <p class="has-text-centered">
        <span
          [class]="compareCharacters(letter, enteredText[i])"
          *ngFor="let letter of randomText.split(''); let i = index"
          >{{ letter }}</span
        >
      </p>

      <div class="field">
        <input
          class="input"
          (input)="onInputHandler($any($event.target).value)"
        />
        <!--input event - triggered whenever user changes anything inside this input-->
      </div>
      <div class="box has-text-centered" *ngIf="enteredText === randomText">
        <h1 class="title">Success!</h1>
      </div>
    </div>
  </div>
</div>
